@charset "UTF-8";

/* Centraliza o link para o repositório */
.md-header__source{
    text-align: center;
}

/* Oculta algumas partes do modelo */
.md-search, .md-header__button[for="__search"]{
    display: none;
    background-color: red;
}

.md-content h1{
    display: none;
}

.md-content__inner::before{
    display: none;
}

/* Retira alguns espaçamentos */
.md-content h2{
    margin: 0;
    padding: 0;
}

.md-content__inner{
    padding: 0;
    margin: 0;
}

.md-typeset{
    margin: 0;
}

/* Centraliza o rodapé */
.md-footer{
    width: 100%;
}

.md-copyright{
    margin: auto;
    text-align: center;
}

/* Algumas configurações para o conteúdo */
.md-content{
    font-family: cursive;
    column-count: 2;
    text-align: center;
}

.md-content h2{
    text-align: center;
}

.md-typeset__scrollwrap{
    text-align: center;
}

/* Configurações da tabela */
table{
    border-collapse: collapse;
    margin: auto;
}

table td, thead th{
    border: 1px solid rgb(238, 183, 243);
}

table thead th{
    font-variant: small-caps;
    font-size: 1.2em;

    background-color: rgb(42, 3, 56);
}

table tbody tr{
    background-color: #380848;
    color: white;
}

.md-typeset table:not([class]) tbody tr:hover{
    background-color: rgb(120, 35, 134);
    transition: .5s;
}