@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

img{
    width: 100vw;
    border: 0px;
}

a{
    display: block;
    
    padding: 10px 0px;
    width: 100%;

    background-color: rgb(125, 2, 2);
    color: white;

    font-variant: small-caps;
    text-decoration: none;
    text-align: center;
    font-family: cursive;
}

a:hover{
    background-color: rgb(177, 5, 5);
    font-weight: bold;
}

::-webkit-scrollbar{
    width: 0px;
}