@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: bisque;
    
    background-image: url("./imagens/fundo-madeira.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

main{
    position: relative;
}

section#celular{
    position: absolute;
    left: 0;

    width: 93vw;
    height: 100vh;
    
    text-align: center;
    z-index: -2;

    /*background-color: rgb(52, 26, 251);*/
}

section#navegação{
    position: absolute;
    right: 0px;

    width: 100px;
    height: 100vh;

    /*background-color: rgb(251, 153, 26);*/
}

section#celular img{
    position: absolute;

    top: 40%;
    left: 50%;

    transform: translate(-50%, -40%);

    width: 312.6px;
    height: 627px;
}

iframe{
    position: absolute;

    top: 40%;
    left: 50%;

    margin-top: 17px;
    margin-left: 8px;

    transform: translate(-50%, -40%);

    width: 284.5px;
    height: 485px;
    
    /*background-color: rgba(255, 0, 0, 0.385);*/
}

section#navegação ul{
    position: absolute;

    right: 10px;
    top: 0px;
}

section#navegação > ul > li:first-child{
    margin-top: 20px;
}

section#navegação > ul > li{
    padding: 10px;
    margin: 0px;
}

section#navegação > ul{
    height: 500px
}

section#navegação > ul > li img{
    width: 50px;
    height: 50px;

    border-radius: 50%;
    box-sizing: border-box;
}

section#navegação > ul > li img:hover{
    box-shadow: 2px 4px 3px 1px rgba(3, 6, 8, 0.573);
    border: 1px solid rgba(46, 8, 14, 0.556);

    transform: translate(-3px, -3px);
    transition: transform .3s, border .3s, box-shadow .3s;
}

ul > li > a > .dica {
    width: 150px;

    background-color: black;
    color: #fff;
    text-align: center;
    
    padding: 5px 5px;
    margin-left: 35px;
    margin-top: 10px;
    border-radius: 30px;

    position: absolute;
    right: 50px;
    
    z-index: -1;

    font-family: cursive;

    visibility: hidden;
    opacity:0;
}

ul > li > a:hover > .dica{
    visibility: visible;
    opacity: 1;
    
    transition:visibility .5s linear,opacity .5s linear;
}