@charset "UTF-8";

/* Declarações globais */ 
/* Podemos englobar as declarações dentro de '@media all' */
*{
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;

    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: white;
    text-shadow: 2px 2px 0px #101c7e;
    padding: 10px;
}

/* Estilo para o modo retrato */
@media screen and (orientation: portrait) {
    body{
        background-image: url("../imagens/cev-portrait.jpg");
        background-position: center bottom;
    }
}

/* Estilo para o modo paisagem */
@media screen and (orientation: landscape) {
    body{
        background-image: url("../imagens/cev-landscape.jpg");
        background-position: left bottom;
    }
}